.container .row{
  margin-top: 10px;

}
#carousel{
  margin-top: 50px;
}
.navbar{
  background-color: #2E8B57;
}
 .navbar-brand{
  font-size: 2.5em;

}
  li a{
  font-size: 1.2em;

}
.item {
background:
  url("5images.jpg") 60% 90% no-repeat,
  url("sajt-vizitka.png") 40% 50% no-repeat,
  url("fff.jpg") 10% 20% no-repeat #393;
  background-size: 250px  150px;}

  .carousel {
    height: 150px !important;

  }
  .carousel-inner {
    overflow: visible;
  }
  .carousel-inner img {
    left:   50%;
    max-width: none !important;
    min-height: 150px;
    min-width: 20%;

    top: 150px;
    transform: translate(-10%,-10%);
  }


  .fa-vk:hover{
    color: #4e729a;
  }

  .fa-twitter:hover{
    color: #55acee;
  }

  .fa-instagram:hover{
    color: #FF69B4;
  }

  .fa-facebook:hover{
    color: #3a5795;
  }
  .title{
    font-size: 1.5em;
  }
  .Current
   {
       background-color: #FFFAF0;
   }
   .center{
     text-align: center;
   }

   .we-like h4{
      margin: 0 0 0 150px;
      color: #808080;
   }

   .we-like p{
      color: #808080;
   }

   .icons2  li{
     display: inline-block;
     position: relative;
     list-style: none;
     margin: 0 10px;
     height: 70px;
     width: 70px;
     padding: 0 15px 12px 15px;
   }

   .icons2{
     text-align: center;
   }

   .icons2  li img{
      height: 65px;
      width: 65px;
      color: #808080;
   }

   .icons2 img.grayscale {
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     filter: grayscale(100%);
     filter: gray;
     -moz-transition: all 1s ease;
     -webkit-transition: all 1s ease;
     transition: all 1s ease;
     cursor: pointer;
   }

   .icons2 img.grayscale:hover {
     -webkit-filter: grayscale(0%);
     -moz-filter: grayscale(0%);
     filter: grayscale(0%);
     filter:none;
   }

   .grayscale.grayscale-replaced > svg {
     transition: opacity 1s ease;
     opacity: 1;
   }

   .grayscale.grayscale-replaced.grayscale-fade:hover > svg {
     opacity: 0;}

     img {
   max-width: 100%
 }

 
